* {
  box-sizing: border-box;
}


/** HEADER **/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  padding: 20px;
}

.logo-image {
  width: 75px;
  margin-right: 10px;
}


/** MEME SECTION - FORM, MEME **/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  outline: 1px solid red;
  /* max-width: 900px; */
}

/* Form */

.form {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 60px;
  outline: 1px solid red;
}

.top-text-input, .bottom-text-input {
  width: 48%;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.top-text-input {
  margin-right: auto;
}

.form-btn {
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/* Meme */

.meme {
  position: relative;
  outline: 1px solid red;
}

.meme-image {
  max-width: 100%;
  outline: 1px solid red;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
} 